* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.main_sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid black;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

form {
  width: 100%;
}