* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  /* height: calc(100vh - 200px); */
  height: 100vh;
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */

 .div_mark {
   flex: 1;
   display: flex;
   flex-direction: column;
 }

 .div_mark .title {
   font-size: 30px;
   margin: 30px;
 }

 form {
   flex: 1;
   margin: 30px;
 }

 .arlim {
   background-color: #f2f2f2;
   display: flex;
   flex-direction: row;
   margin: 0px 30px;
   border-radius: 15px;
   border: 1px solid black;
   height: 100px;
 }
 .arlim div {
   background-color: blanchedalmond;
   width: 20px;
   height: 20px;
   margin: 20px;
 }

 .arlim nav {
   display: flex;
   align-items: center;
   margin-left: 20px;
 }
 .arlim nav ul .li_color{
  color: red;
 }
form{
  display: flex;
  flex-direction: column;
  margin: 100px 250px 0px 250px;
}

.exit-box {
  border: 2px solid #000;
  border-radius: 15px;
  overflow: hidden;
  font-size: 16px;
}

.exit-row {
  display: flex;
  border-bottom: 1px solid #000;
}

.exit-row:last-child {
  border-bottom: none;
}

.exit-label {
  width: 150px;
  padding: 15px;
  background-color: #f9f9f9;
  border-right: 1px solid #000;
}

.exit-value {
  flex: 1;
  padding: 15px;
}

.exit-select {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 15px;
  background-color: #fff;
}

#next{
  height: 50px;
  width: 100px;
  background-color: #2F52AA;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 30px;
}
.checkmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.modal_box :nth-child(2){
  color: red;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}
#checkBtn{
  background-color: white;
  color: black;
  border: 1px solid black;
}
#cancelBtn{
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.modal_box :nth-child(2) {
  color: red;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.modal #doneOkBtn {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}
