* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  /* height: calc(100vh - 200px); */
  height: 100vh;
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

form {
  width: 100%;
}
.context{
  margin-top: 30px;
  /* background-color: orange; */
  width: 1700px;
  overflow: hidden;
}
.card_row{
  width: 100%;
  /* background-color: blue; */
  display: flex;
  margin-bottom: 20px;
}
#card_list_1,
#card_list_2{
  display: flex;
  justify-content: space-around;
  /* background-color: yellow; */
  width: 100%;
  height: max-content;
}
.care_card{
  background-color: #FFF8EF;
  width: 430px;
  height: 530px;
  border-radius: 30px;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.heart_img_box{
  position: absolute;
  height: 100px;
  width: 100px;
  overflow: hidden;
  right: 0;
  margin: 10px;
}
.heart_img{
  position: absolute;
  height: 100%;
}
.profile{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_pic_box{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 2px black;
  margin-top: 45px;
}
.profile_pic{
  width: 100%;
}
.profile_name{
  background-color: wheat;
  width: max-content;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px 13px;
  border: solid 1px black;
  margin: 20px 10px 0 10px;
}
.day_row{
  /* background-color: crimson; */
  display: flex;
  padding-left: 7px;
  /* margin: 5px 0 0 2px; */
  margin: 0 10px;
  margin-top: 10px;
}
.day{
  border: solid 3px #1D3266;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 7px;
  font-size: 20px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_intro{
  /* background-color: greenyellow; */
  margin: 0 10px;
  text-align: center;
  margin-top: 10px;
}
.short_intro{
  margin: 5px 0;
  font-size: 16px;
}
.long_intro{
  margin: 5px 0;
  font-size: 16px;
}
#pagenation{
  text-align: center;
  margin: 30px 0;
}