* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar img {
  height: 150px;
  width: 150px;
  background-color: rgb(27, 255, 217);
  border-radius: 100%;
  margin: 15px;
}

.main_sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid black;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}
form {
  flex: 1;
  margin-top: 50px;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

.div_choose ul{
  display: flex;
  list-style-type: none;
  padding-left: 150px;
}
.div_choose ul li{
  margin: 10px;
}
.mark_nav{
  display: flex;
  margin:  0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(191, 201, 201);
}
.mark_nav div{
  display: flex;
  flex: 1;
}

.mark_nav div div{
  justify-content: center;
}
.mark_nav input{
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}
.mark_list{
  display: flex;
  margin: 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(223, 235, 235);
}
.mark_list a{
  display: flex;
  flex: 1;
}
.mark_list a div{
  display: flex;
  flex: 1;
}
.mark_list input{
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}
.mark_list div div{
  justify-content: center;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}
.page ul li{
  margin: 10px;
}
.div_delete{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}
button {
  background-color: blue;
  color: white;
  width: 80px;
  height: 40px;
  margin-right: 150px;
  border-radius: 15px;
  border: 0px;
}