* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  /* height: calc(100vh - 200px); */
  /* height: 100vh; */
  display: flex;
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

form {
  width: 100%;
}

.mark_nav {
  display: flex;
  margin: 0px 150px 0px 150px;
  height: 50px;
  align-items: center;
  background-color: #F2F2F2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mark_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.mark_nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.mark_nav input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.name_col div,
.name div {
  width: 10vw;
  text-align: center;
}

.location_col div,
.location div {
  width: 30vw;
  text-align: center;
  background-color: #F2F2F2;
}

.phone_col div,
.phone div {
  width: 20vw;
  text-align: center;
}

.mark_list {
  display: flex;
  margin: 0px 150px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  height: 400px;
}

.mark_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;

}

.mark_list li input,
.mark_list li div,
.mark_list li a {
  background-color: rgb(255, 255, 255);
}

.checkbox_li {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.page {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.page li {
  margin: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.div_delete {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15px;

}


.div_choose {
  width: 500px;
}

.div_choose ul {
  display: flex;
  list-style-type: none;
  padding: 0px 0px 0px 150px;
}

.div_choose ul li {
  margin: 10px;
  text-decoration: underline;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}

.page ul li {
  margin: 10px;
}

.div_delete {
  margin: 0;
  padding: 0;
}

button {
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  border: 0px;
}

/* 확인버튼 스타일 */
#confirmDelete {
  background-color: #2f4db1;
  color: white;
}

/* 체크확인 버튼 */
#check_confirmDelete {
  background-color: #2f4db1;
  color: white;
}
/* 모달 스타일 */
.modal {
  position: fixed;
  inset: 0;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 조건이 만족 했을 때 모달 출력 */
.modal.open {
  display: flex;
}

/* 모달 안의 상자 */
.modal_box {
  background: #fff;
  min-width: 320px;
  max-width: 90vw;
  padding: 20px 24px;
  border-radius: 10px;
  text-align: center;
}

/* 모달 안의 버튼 */
.modal_buttons {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* 모달 안의 버튼들 꾸미기 */
.modal_buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}