* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  height: 110px;
  background-color: bisque;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar div {
  height: 150px;
  width: 150px;
  background-color: rgb(27, 255, 217);
  border-radius: 100%;
  margin: 15px;
}

.main_sidebar ul li {
  padding: 15px;
}
/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.div_mark div {
=======
.div_mark .title {
>>>>>>> main
  font-size: 30px;
  margin: 30px;
}

.div_choose ul{
  display: flex;
  list-style-type: none;
  padding-left: 150px;
}
.div_choose ul li{
  margin: 10px;
}
.mark_nav {
  display: flex;
  margin: 0px 150px 0px 150px;
<<<<<<< HEAD
=======
  height: 50px;
  align-items: center;
  background-color: rgb(191, 201, 201);
>>>>>>> main
}

.mark_nav ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  background-color: rgb(191, 201, 201);
  justify-content: space-around;
}

<<<<<<< HEAD
.mark_nav ul input {
=======
.mark_nav input {
>>>>>>> main
  margin-left: 20px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}
.page ul li{
  margin: 10px;
}
<<<<<<< HEAD

=======
.div_delete{
  margin: 0;
  padding: 0;
}
>>>>>>> main
button {
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  margin-left: 150px;
  border-radius: 15px;
  border: 0px;
}