* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  /* width: 100%; */
  /* height: calc(100vh - 200px); */
  /* height: 100vh; */
  display: flex;
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */

 .div_mark {
   /* flex: 1; */
   width: 100%;
   display: flex;
   flex-direction: column;
 }

 .div_mark .title {
   font-size: 30px;
   margin: 30px;
 }

 /* form {
   flex: 1;
   margin: 30px;
 } */

 .arlim {
   background-color: #EAEAEA;
   display: flex;
   flex-direction: row;
   margin: 0px 30px;
   border-radius: 15px;
   border: 1px solid black;
   height: 100px;
 }
 .arlim div {
   background-color: blanchedalmond;
   width: 20px;
   height: 20px;
   margin: 20px;
 }

 .arlim nav {
   display: flex;
   align-items: center;
   margin-left: 20px;
 }
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0px;
  /* justify-content: space-between; */
}
.point_have{
  border: 1px solid black;
  border-radius: 15px;
  background-color: #F2F2F2;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
  margin: 50px;
}
.point_have .point_have_title{
  margin: 20px;
}
.point_have .point_point{
  width: 300px;
  height: 60px;
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point_have .button{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#chargeBtn{
  width: 250px;
  height: 60px;
  margin: 30px;
  border: 1px solid blue;
  border-radius: 15px;
  background-color: white;
}
#chargehis{
  width: 250px;
  height: 60px;
  margin: 30px;
  border: 1px solid blue;
  border-radius: 15px;
  background-color: white;
}

.point_use{
  border: 1px solid black;
  border-radius: 15px;
  background-color: #F2F2F2;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
  margin: 50px;
}
.point_use .point_use_title{
  margin: 20px;
}
.point_use .month{
  display: flex;
  flex-direction: column;
}

.point_use .month ul{
  display: flex;
}
.point_use .month ul li{
  margin: 10px;
}
.point_use .point_total_use{
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
  width: 350px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.point_month{
  margin: 10px;
  border-radius: 15px;
}
.point_day{
  border: 1px solid black;
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}
.point_day ul li{
  margin: 20px;
}




.modal {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.modal-content {
  position: fixed;
  top: 25%;
  left: 40%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 20px;
}
.payapi{
  border: 1px solid black;
  margin: 5px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.charge{
  border: 1px solid black;
  margin: 5px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.charge_point{
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.charge_point li ul{
  display: flex;
  flex-direction: row;
}
.charge_point li ul li{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charge_point li ul :first-child{
  margin: 5px 10px;
}
.charge_point li ul :nth-child(2){
  margin: 5px 0px;
  flex: 1;
  border: 1px solid black;
  border-radius: 15px;
}
.modal-content input{
  width: 350px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}


#completeBtn {
  margin: 20px 20px 0px 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2F52AA;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 100px;
}

#deleteBtn {
  margin: 20px 20px 0px 20px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  color: red;
  cursor: pointer;
  justify-content: center;
  width: 100px;
}




.modal_history {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.modal-content {
  position: fixed;
  top: 25%;
  left: 40%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 20px;
}

.charge_history {
  border: 1px solid black;
  margin: 5px;
  height: 360px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.charge_month{
  margin-bottom: 20px;
}

.charge_month ul{
  display: flex;
  flex-direction: row;
}
.charge_month ul :nth-child(2){
  margin: 0px 100px;
}
.charge_month ul li button{
  width: 30px;
  height: 30px;
}
.charge_day{

  width: 300px;
  text-align: start;
}
.charge_day ul li{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}



#completeBtn {
  margin: 20px 20px 0px 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2F52AA;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 100px;
}

#deletebutton {
  margin: 20px 20px 0px 20px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  color: red;
  cursor: pointer;
  justify-content: center;
  width: 100px;
}