* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
main {
  width: 100%;
  /* height: calc(100vh - 200px); */
  /* height: 100vh; */
  display: flex;
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}
.main_sidebar ul li a {
  color: white;
}
/* ============================= */
.div_mark{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.div_mark .title {
  font-size: 30px;
  margin: 30px;
}
form{
  flex: 1;
  margin: 10px 150px;
}
.arlim{
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
  border-radius: 15px;
  border: 1px solid black;
  height: 100px;
  width: 90%;
}
.arlim div{
  width: 20px;
  height: 20px;
  margin: 20px;
}
.arlim nav{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
form .normalmodify{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border: 1px solid black;
}
.member{
  border-bottom: 1px solid black;
}
.member ul{
  display: flex;
}
.info{
  display: flex;
  width: 200px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-right: 1px solid black;
  background-color: #D9D9D9;
  padding: 5px 0px;
}
.myinfo {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
}
.myinfo ul{
  display: flex;
  flex-direction: column;
}
input{
  width: 400px;
  height: 40px;
  font-size: 20px;
  margin: 5px 0px;
  border: 1px solid black;
}
button{
  margin: 10px;
  background-color: #2F52AA;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}
.pwCheck{
  color: red;
  display: none;
}



.modal_address {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_phone {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_email {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_pw {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_mail {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 0;
  left: 40%;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: #1D3266;
  color: white;
  cursor: pointer;
}