* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  /* width: 100%; */
  display: flex;
  min-height: calc(100vh - 220px);
  /* height: 100vh; */
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  /* display: flex; */
  /* flex-direction: column; */
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */

.pw_check{
  flex: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 400px;
  height: 50px;
  margin-left: 20px;
  font-size: 20px;
  border: 1px solid black;
}
button{
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: #2F52AA;
  color: white;
}
form div{
  display: block;
  padding-left: 100px;
  color: red;
}
#pwaccord{
  display: none;
}