* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  /* height: calc(100vh - 200px); */
  height: 100vh;
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */


.careReferenceCheck {
  flex: 1;
  padding: 40px 100px;
}

.title h2 {
  padding: 5px;
  font-size: 30px;
  border: 2px solid black;
}

.careReferenceCheck_info {
  display: flex;
  padding: 5px;
  background-color: aqua;
  font-size: 24px;
  border: 2px solid black;
}

.careReferenceCheck_info span {
  display: block;
}

.careReferenceCheck_content {
  margin-top: 10px;
  padding: 5px;
  background-color: #fdfdfd;
  border: 2px solid black;
  height: auto;
  width: auto;
  height: 500px;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin: 5px 0px 5px;
}

.buttons button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
}



.reply {
  border: 2px solid black;
}

.comment {
  padding: 5px;
  border: 2px solid black;
}

.reply h4 {
  padding: 10px;
}

.author {
  font-weight: bold;
  display: block;
}

.cmt_content {
  margin: 5px 5px 5px 10px;
}

.date {
  display: block;
  text-align: right;
}

.comments form text {
  height: 60px;
  padding: 10px;
}

.comments input {
  justify-content: right;
  align-items: right;
  width: 800px;
  text-align: center;
}