* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  /* width: 100%; */
  min-height: calc(100vh - 200px);
  /* height: 100vh; */
  display: flex;
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */
.div_mark {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

form {
  width: 100%;
}
.send{
  border-bottom: 1px solid black;
  font-weight: bold;
}

.mark_nav {
  display: flex;
  /* width: 100%; */
  margin: 0px 150px 0px 150px;
  height: 50px;
  align-items: center;
  background-color: #F2F2F2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mark_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mark_nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.mark_nav input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.name_col div,
.name div {
  width: 10vw;
  text-align: center;
}

.location_col div,
.location div {
  width: 20vw;
  text-align: center;
  background-color: #F2F2F2;
}

.phone_col div,
.phone div {
  width: 10vw;
  text-align: center;
}
.read_col div,
.read div {
  width: 10vw;
  text-align: center;
}

.mark_list {
  display: flex;
  margin: 0px 150px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  height: 400px;
}

.mark_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;

}

.mark_list li input,
.mark_list li div,
.mark_list li a {
  background-color: rgb(255, 255, 255);
}

.mark_list input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.div_choose{
  width: 500px;
}
.div_choose ul{
  display: flex;
  list-style-type: none;
  padding: 50px 0px 0px 150px;
}
.div_choose ul li{
  margin: 10px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}
.page ul li{
  margin: 10px;
}
.div_delete{
  margin: 0;
  padding: 0;
}
#delete{
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  margin-left: 150px;
  border-radius: 15px;
  border: 0px;
}




.modal_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}

/* 모달 켜졌을 때 */
.modal_bg.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 모달 상자 */
.modal_box {
  width: 420px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, .25);
  overflow: hidden;
}

/* 모달 제목  */
.modal_read {
  position: relative;
  padding: 14px 18px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  font-weight: 700;
  font-size: 20px;
}

/* 모달 제목 색 */
.modal_title {
  color: #111;
}

/* 모달 닫기 버튼 */
.modal_close {
  position: absolute;
  right: 16px;
  top: 8px;
  font-size: 24px;
  cursor: pointer;
}

/* 모달 안 내용 */
.modal_info {
  padding: 16px 18px;
}

/* 보낸사람 정보 스타일 */
.sender_info {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

/* 아이디 표시 */
.sender_id {
  color: #2f4db1;
  font-weight: 700;
  text-decoration: none;
}

/* 내용 표시 */
.message_content {
  min-height: 220px;
  padding: 14px 12px;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  background: #fff;
  color: #111;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow: auto;
}

/* 모달의 모든 버튼들 */
.modal_button {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 14px 18px 18px;
}

/* 모달 버튼 디자인 */
.modal_button button {
  min-width: 92px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

/* 답장 버튼 */
.btn_reply {
  background: #2F52AA;
  color: #fff;
}

/* 삭제 버튼 */
.modal_button > .btn_delete {
  background: #fff;
  color: #ff0400;
  border: 2px solid #ff0400;
}

/* 쪽지 쓰기 버튼 */
.write_modal {
  width: 420px;
}

/* 쪽지 작성 영역 */
#message_textarea {
  width: 100%;
  min-height: 220px;
  padding: 12px;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  outline: none;
  resize: vertical;
  line-height: 1.5;
}

/* 확인 모달 */
.confirm_modal {
  width: 420px;
  padding: 22px 20px;
}

/* 확인모달 글자 */
.confirm_text {
  padding: 24px 16px 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
}

/* 확인모달 버튼 */
.confirm_buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 12px 16px 6px;
}

/* 모달에서 사용되는 버튼 공통 */
.confirm_buttons .btn_confirm,
.confirm_buttons .btn_cancel {
  min-width: 92px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

/* 확인은 파란색 */
.modal_button .btn_send,
.modal_button .btn_confirm,
.confirm_buttons .btn_confirm {
  background: #2F52AA;
  color: #fff;
}

/* 취소는 빨간색 */
.modal_button .btn_cancel,
.confirm_buttons .btn_cancel {
  background: #fff;
  color: #ff0400;
  border: 2px solid #ff0400;
}

/* 전송 완료 모달 글씨 */
.modal_send .send_message {
  padding: 24px 16px 8px;
  text-align: center;
  font-size: 16px;
  color: #111;
}