* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  min-height: calc(100vh - 200px);
  /* height: 100vh; */
  display: flex;
}

.main_sidebar {
  width: 180px;
  /* height: 100%; */
  background-color: #2F52AA;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.main_sidebar ul li {
  padding: 12px 20px;
}

.main_sidebar ul li a {
  color: white;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.div_mark .title {
  font-size: 30px;
  margin: 30px;
}
form{
  margin: 50px 200px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.month{
  border-bottom: 1px solid black;
  height: 50px;
  align-items: center;
}
.month ul{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.month ul li{
  list-style-type: none;
  font-size: 20px;
  justify-content: space-between;
}
.matcing ul{
  display: flex;
}
.matching ul li{
  list-style-type: none;
  height: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.matching ul li div{
  margin: 0px 40px;
}
.matching ul li .matchingbutton{
  margin-right: 100px;
}
.matching ul li button{
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  margin: 0px 20px;
  border-radius: 30px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}

.page ul li {
  margin: 10px;
}


.completemodal {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.cancelmodal {
  display: none;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 0;
  left: 40%;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: #1D3266;
  color: white;
  cursor: pointer;
}