/* 전체적용 */
*{
  margin: 0;
  padding: 0;
}

/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* main 세션 */
main{
  width: 100%;
  height: calc(100vh - 220px);
  background-color: #FFE7C9;
}

/* 지도 컨테이너 */
.map_container{
  display: flex;
  justify-content: center;
}

/* 지도 칸 */
.map_api{
  align-content: center;
  width: 500px;
  height: 500px;
}

/* 지도 이미지 */
.map_img{
  width: 100%;
  height: 80%;
  cursor: pointer;
}

/* 지도 사이드바 */
.sidebar{
  display: none; /*평소에는 none이다가 활성화 되면 flex로 변경*/
  flex-direction: column;
  background-color: #FFF8EF;
  margin: 10px 40px;
}

/* 닫기 버튼 */
.closebtn{
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  top:10px;
  right:10px;
  cursor:pointer;
}

/* 지도 정보, 지도 상세 설명 */
.map_info, .map_detail{
  background-color: white;
  margin: 10px 30px 10px;
}

/* 지도 정보 */
.map_info{
  width: 200px;
  height: 270px;
  justify-content: flex-end;
}
/* 지도 상세 설명 */
.map_detail{
  width: 200px;
  height: 150px;
  justify-content: flex-end;
}

/* 모달박스 */
.modalbox{
  display: none;
  background-color: rgba(217, 217, 217, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

/* 로그인 체크 모달 */
.login_check_model{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}

.modalbox_complet{
  display: none;
  background-color: rgba(217, 217, 217, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.complet_modal{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}

/* 모달 닫기 버튼 */
.modal_closebtn{
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  top:10px;
  right:10px;
  cursor:pointer;
}

.modal_closebtn_complet{
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  top:10px;
  right:10px;
  cursor:pointer;
}

/* 모달 글자칸 */
.modal_text{
  font-size: 30px;
  margin: auto;
  padding-bottom: 20px;
}

/* 찜 버튼 */
#wishbtn{
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

#wishbtn img{
  width: 10%;
  height: 10%;
}

/* 정보 내용 리스트 ul */
.info_content{
  list-style-type: none;
}

/* 사이드바 내의 이미지 조절 */
.info_content img{
  width: 7%;
  height: 7%;
  margin-left: 10px;
}

.info_title{
  font-size: 20px;
  text-align: center;
}

.info_address{
  font-size: 14px;
}

.info_times{
  font-size: 14px;
}

.info_phonenum{
  font-size: 14px;
}

.info_detail{
  font-size: 14px;
}

.detail_title{
  font-size: 20px;
  text-align: center;
}

.map_detail{
  font-size: 14px;
}

/* 페이지 설명 */
.site_info{
  margin-top: 0px;
  font-size: 20px;
  background-color: #FFF8EF;
  text-align: center;
}