* {
  margin: 0;
  padding: 0;
  font-family: 'pretendard-regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

header,
footer {
  width: 100%;
  height: 110px;
  background-color: rgb(0, 0, 0);
}

h1 {
  padding: 35px;
  text-align: center;
}

main {
  width: 100%;
  background-color: #ffe7c9;
}

.subway_subwayLine {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
}


.subway_subwayLine button {
  background-color: #fff8ef;
  border-radius: 30px;
  width: 130px;
  height: 55px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  border: none;
  margin: 0 5px;
}

.subway_subwayLine:checked {
  background-color: #ffc376;
}

.subway_subwayLine button:hover {
  background-color: #ffc376;
}


/* 선택된 버튼 색상 */
.selected-btn {
  background-color: #ffc376 !important;
}

.map_section {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;

}

.map_section .subway_alline_img {
  text-align: center;
  justify-content: center;
  display: flex;
}

.map_section div {
  display: none;
}

.station_list {
  width: 197px;
  height: 418px;
  background-color: #ffffff;
  font-size: 24px;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
}

.station_name {
  cursor: pointer;
  padding: 8px 10px;
  list-style: none;
}

.station_name:hover {
  background-color: #ffc376;
}

.station_info {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: #ffc376;
}

.map_section .subway_allline_img {
  display: flex;
  justify-content: center;
}

#allline_station {
  display: block;
}