@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 500; 적용 안됨 */
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration-line: none;
  list-style-type: none;
  color: black;
  font-family: 'Pretendard-Regular';
  /* #FFE7C9 */
  /* #1D3266 */
}
main{
  background-color: #FFE7C9;
  height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
}
.main_body{
  width: 1200px;
  height: 100%;
}
.page_title{
  margin-top: 40px;
  /* background-color: yellowgreen; */
  font-size: 30px;
}
.context{
  margin-top: 40px;
  /* background-color: gray; */
  display: flex;
  height: 510px;
  width: 1200px;
}
.detail_info_area{
  /* background-color: yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
}
.restaurant_img_box{
  width: 80%;
  height: 60%;
  overflow: hidden;
  border: solid 3px black;
  border-radius: 20px;
}
.restaurant_img{
  width: 100%;
  height: 100%;
}
.restaurant_info{
  /* background-color: blueviolet; */
  width: 80%;
  display: flex;
  flex-direction: column;
  flex:1;
}
.short_info{
  /* background-color: aqua; */
  flex: 1;
  margin: 0 10px; 
}
.restaurant_introduction{
  /* background-color: gray; */
  background-color: #EFEFEF;
  width: 100%;
  overflow: hidden;
  border: solid 3px black;
  border-radius: 20px;
  display: flex;
}
.introduction{
  margin: 10px 20px;
}
.detail_map_area{
  background-color: aquamarine;
  width: 50%;
}
.map_img_box{
  height: 100%;
  overflow: hidden;
  border: solid 3px black;
  border-radius: 20px;
}
.map_img{
  height: 100%;
}