* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
}

form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 1;
  margin: 10px 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.post_title {
  display: flex;
  flex-direction: column;
}

.post_name {
  font-size: 24px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #F2F2F2;
}

.post_info {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  border-bottom: 1px solid black;

}

.post_info li {
  width: 150px;
  margin-left: 10px;
}

.post_member,
.post_day,
.post_view {
  display: flex;
  flex: 1;
  background-color: rgb(255, 255, 255);
}

.post_member div,
.post_day div,
.post_view div {
  margin-left: 10px;
}
.api{
  height: 40px;
}
.input{
  border: 1px solid black;
  height: 500px;
}
.input textarea{
  width: 100%;
  height: 100%;
  font-size: 20px;
}
input{
  width: 100%;
  height: 40px;

}


.button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 10px;
}

.list {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid black;
}

.button_write {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid black;
  background-color: #2F52AA;
  color: white;
}


.notmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}
#check{
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}
#cancle{
  background-color: red;
  color: white;
  border: 1px solid red;
}
