* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
<<<<<<< HEAD
  /* height: calc(100vh - 200px); */
=======
  min-height: calc(100vh - 200px);
>>>>>>> main
  display: flex;
  flex-direction: column;
}
.del {
  display: flex;
  justify-content: end;
}
.button_del {
  margin-right: 100px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: red;
  color: white;
}
form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 1;
  margin: 10px 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.post_title {
  display: flex;
  flex-direction: column;
}
.post_name {
  font-size: 24px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}
.post_info {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
}
.post_info li {
  width: 150px;
  margin-left: 10px;
}
.post_member,
.post_day,
.post_view {
  display: flex;
  flex: 1;
  background-color: rgb(255, 255, 255);
}
.post_member div,
.post_day div,
.post_view div {
  margin-left: 10px;
}

.post_content {
  margin-top: 10px;
}

.post_content ul li div {
  border: 1px solid black;
  height: 30vh;
}
.button {
  display: flex;
  justify-content: end;
}
.button_list {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
}
.button_delete {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
  background-color: red;
  color: white;
}
.button_enroll {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
  background-color: #2f52aa;
  color: white;
}
.post_total_reply {
  padding-left: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 30px;
  display: flex;
  align-items: center;
}
.post_reply {
  border-bottom: 1px solid black;
}
.post_reply ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  height: 30px;
  align-items: center;
}
.reply_content {
  border-top: 1px dotted black;
}

.reply_write {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin-top: 10px;
}

.reply_write ul li {
  border-top: 1px solid black;
  height: 30px;
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.reply_write ul li input {
  flex: 1;
  height: 30px;
  font-size: 20px;
}
.reply_write ul li button {
  height: 30px;
  width: 100px;
  border-left: 1px solid black;
}

.checkmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.exit-value {
  flex: 1;
  padding: 15px;
}

.exit-select {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid black;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#check {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}

#cancle {
<<<<<<< HEAD
  background-color: #2f52aa;
=======
  background-color: red;
>>>>>>> main
  color: white;
  border: 1px solid black;
}

.notmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#notcheck {
  background-color: #2f52aa;
  color: white;
  border: 1px solid black;
}
<<<<<<< HEAD
=======



.reportmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}
.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#notcheck {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}
#reportcheck {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}
>>>>>>> main
