* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
}

form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 1;
  margin: 10px 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.title{
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 10px;
}
.title input{
  flex: 1;
  font-size: 20px;
}
.write{
  height: 500px;
  border: 1px solid black;

  width: auto;
  white-space: normal;
}
.write textarea{
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.write input{
  width: 100%;
  height: 40px;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 10px;
}
.list{
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid black;
}
.button_write {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid black;
  background-color: #2F52AA;
  color: white;
}

.writecheckmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#writecheck {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}

#writecancel {
  background-color: red;
  color: white;
  border: 1px solid black;
}


.writemodal {
  display: none;
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_buttons button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 15px;
}

#reportcheck {
  background-color: #2F52AA;
  color: white;
  border: 1px solid black;
}