@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
}

header {
  width: 100%;
  height: 110px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

footer {
  width: 100%;
  height: 110px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

main {
  width: 100%;
  height: calc(100vh - 220px);
  /* background-color: coral; */
}

a {
  text-decoration: none;
  color: black;
}
