.terms {
  border: 1px solid black;
  width: 1100px;
  margin: 0 auto;
}

.terms_title > p {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

.terms_checkbox > label {
  display: flex;
  gap: 12px;
}

