.findId {
  /* border: 1px solid black; */
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  /* border: 1px solid black; */
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box_title {
  text-align: center;
  margin: 0px auto;
  display: flex;
  align-items: flex-end;
  height: 160px;
}

.box_title > p {
  font-size: 30px;
  font-weight: 900;
}

.box_content {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.box_name,
.box_phone,
.box_author,
.box_next {
  display: flex;
  /* border: 1px solid black; */
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.box_name,
.box_phone,
.box_author,
.box_next > p {
  font-size: 16px;
}

#member_care,
#member_normal {
  font-size: 16px;
}
label {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  border: 2px solid black;
  border-radius: 8px;
  height: 40px;
  padding-left: 8px;
}

.box_name > input,
.box_phone > input {
  width: 400px;
}

.box_phone {
  position: relative;
  left: -40px;
}

.box_phone > button {
  background-color: #2f52aa;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
}

.box_author {
  position: relative;
  left: -20px;
}
.input_number {
  width: 300px;
}

.box_author > button {
  background-color: #2f52aa;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
}

.timer {
  width: 50px;
  height: 50%;
}

.box_next > button {
  padding: 8px 30px;
  background-color: #1d3266;
  color: white;
  border-radius: 8px;
}

.alert {
  display: none;
}

.error_box,
.error_box_msg {
  display: none;
  padding-left: 77px;
}

.error_phone,
.error_msg {
  color: red;
  font-size: 12px;
  /* border: 1px solid black; */
}
.okay_msg {
  font-size: 12px;
}
