main {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.blur {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.modal {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  border-radius: 14px;
}

.cancle {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 14px;
  top: 10px;
  font-size: 24px;
}

.cancle > p {
  cursor: pointer;
}

.p_box {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 26px;
}
.warning {
  color: red;
}
