.findId {
  /* border: 1px solid black; */
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  /* border: 1px solid black; */
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box_title {
  text-align: center;
  margin: 0px auto;
  display: flex;
  align-items: flex-end;
  height: 160px;
}

.box_title > p {
  font-size: 30px;
  font-weight: 900;
}

.box_content {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.box_input,
.box_re,
.box_next {
  display: flex;
  /* border: 1px solid black; */
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.box_input,
.box_re,
.box_next > p {
  font-size: 16px;
}

input {
  border: 2px solid black;
  border-radius: 8px;
  height: 40px;
  padding-left: 8px;
}

.box_input > input,
.box_re > input {
  width: 400px;
}

.box_re > button {
  background-color: #2f52aa;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
}

.box_next {
  position: relative;
  bottom: -100px;
}

.box_next > button {
  padding: 8px 30px;
  background-color: #1d3266;
  color: white;
  border-radius: 8px;
}
.error_pw_check_msg,
.error_pw_msg {
  padding-left: 200px;
  font-size: 14px;
  color: red;
}

.correct_pw {
  padding-left: 200px;
  font-size: 14px;
}

.box_error_pw,
.box_re_error {
  display: none;
}
