.result {
  width: 100%;
  height: 100%;
}

.result_content {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.result_content_box {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f3f2f2;
}

.content_box_title {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
}

.content_box_value {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 20px;
  padding: 0 10px;
}

.result_value {
  font-weight: 600;
}

.result_content_link {
  display: flex;
  gap: 50px;
}
