* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  height: 110px;
  background-color: bisque;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar div {
  height: 150px;
  width: 150px;
  background-color: rgb(27, 255, 217);
  border-radius: 100%;
  margin: 15px;
}

.main_sidebar ul li {
  padding: 15px;
}

/* ------------------*/


.post_edit{
  flex: 1;
  padding: 40px 100px;
}

.re_title h2{
  padding: 5px;
  font-size: 30px;
  border: 2px solid black;
}

.re_post_info{
  display: flex;
  padding: 5px;
  background-color: aqua;
  font-size: 24px;
  border: 2px solid black;
}

.re_post_info span{
  display: block;
}

.re_post_content{
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  width: auto;
  height: 500px;
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin: 5px 0px 5px; 
}

.buttons button{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.btn_cancle{
  background-color: #FF0000;
  color: white;
}

.btn_compelete{
  background-color: #2F52AA;
  color: white;
}

.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10px;
  margin-left: 30%;
}

.modal_box {
  background-color: aqua;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.modal_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  gap: 20px;
  
}

#check {
  background-color: #2F52AA;
  color: white;
}
