/* 밑의 주석 처리 전까지는 공통 */
/* 전체 페이지 설정 */
* {
  margin: 0;
  padding: 0;
  font-family: 'pretendard-regular';
}
/* 폰트 공통 설정 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 전체 바디 색 설정 */

body {
  background-color: #ffffff;
}
/* main 페이지 상세 설정 */

main {
  display: flex;
  min-height: calc(100vh - 220px);
}
/* 마이페이지 왼쪽 사이드 바 설정 */

.main_sidebar {
  width: 180px;
  background-color: #2f4db1;
  color: white;
  padding: 20px 0;
}
/* 사람 모양 이미지 설정 */

.main_sidebar img {
  height: 130px;
  width: 130px;
  background-color: #ff80ab;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}
/* 사이드 바의 목록 스타일 설정 */

.main_sidebar ul {
  list-style: none;
  padding-left: 0;
}
/* 글자들의 패딩 및 커서 설정 */

.main_sidebar li {
  padding: 12px 20px;
  cursor: pointer;
  color: #ffffff;
}
/* 개인정보 수정, 찜한 목록 등 사이드바 상세 설정 */

.main_sidebar li a {
  padding: 12px 20px;
  cursor: pointer;
  color: #ffffff;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

form {
  width: 100%;
}

.div_choose {
  width: 500px;
}

.div_choose ul {
  display: flex;
  list-style-type: none;
  padding: 50px 0px 0px 150px;
}

.div_choose ul li {
  margin: 10px;
}

.mark_nav {
  display: flex;
  margin: 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(191, 201, 201);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mark_nav ul {
  display: flex;
}

.mark_nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark_nav input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.name div {
  width: 100px;
  text-align: center;
}

.posttitle div {
  width: 900px;
  text-align: center;
}

.day div {
  width: 200px;
  text-align: center;
}

.mark_list {
  display: flex;
  margin: 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
}

.mark_list ul {
  display: flex;
}

.mark_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark_list input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}

.page ul li {
  margin: 10px;
}

button {
  background-color: rgb(4, 0, 255);
  color: white;
  width: 80px;
  height: 40px;
  margin-right: 150px;
  border-radius: 15px;
  border: 0px;
}
.div_delete{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: end;
}