* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  height: 110px;
  background-color: bisque;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar div {
  height: 150px;
  width: 150px;
  background-color: rgb(27, 255, 217);
  border-radius: 100%;
  margin: 15px;
}

.main_sidebar ul li {
  padding: 15px;
}

/* ============================= */
.div_mark {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div_mark .title {
  font-size: 30px;
  margin: 30px;
}

.div_choose ul {
  display: flex;
  list-style-type: none;
  margin: 100px 0px 0px 150px;
}

.matching_month {
  display: flex;
  margin: 0px 150px 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(191, 201, 201);
  border: 2px solid black;
}

.matching_month ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  background-color: rgb(191, 201, 201);
  justify-content: space-around;
}

.matching_month input {
  margin-left: 20px;
}

.matching_list{
  width: 1212px;
  margin: 0px 150px 0px 150px;
  display: flex;
  flex: 1;
  border: 2px solid black;
  background-color: white;
  

}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul {
  display: flex;
  list-style-type: none;
}

.page ul li {
  margin: 10px;
}

button {
  background-color: rgb(4, 0, 255);
  color: white;
  width: 80px;
  height: 40px;
  margin-right: 150px;
  border-radius: 15px;
  border: 0px;
  text-align: center;
  justify-content: center;
  
}
.div_add{
  display: flex;
  justify-content: center;
}