* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar ul li img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.main_sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid black;
}

/* ============================= */
.div_mark{
  flex:1;
  display: flex;
  flex-direction: column;
}
.div_mark .title{
  font-size: 30px;
  margin: 30px;
}
form{
  width: 100%;
}
.mark_nav{
  display: flex;
  margin: 100px 150px 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(191, 201, 201);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.mark_nav ul{
  display: flex;
}

.mark_nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mark_nav input{
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}
.name div{
  width: 100px;
  text-align: center;
}
.location div {
  width: 1000px;
  text-align: center;
}
.phone div {
  width: 200px;
  text-align: center;
}

.mark_list {
  display: flex;
  margin: 0px 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(214, 236, 236);
  border-bottom: 1px solid black;
}
.mark_list ul {
  display: flex;
}

.mark_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark_list input {
  margin: 0px 30px;
  width: 30px;
  height: 30px;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page ul{
  display: flex;
  list-style-type: none;
}
.page ul li{
  margin: 10px;
}
.div_delete{
  display: flex;
  justify-content: center;
}
button {
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15px;

}
.mark_nav ul li:first-child {
  width: 56px;
  justify-content: center;
}
.mark_list ul li:first-child {
  width: 56px;
  justify-content: center;
}

.name {
  width: 140px;
} 
.location {
  flex: 1;
} 
.phone {
  width: 200px;
} 

.name div {
  box-sizing: border-box;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.location div {
  box-sizing: border-box;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone div {
  box-sizing: border-box;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mark_list:hover {
  background: #eaf2f2;
}
