* {
  margin: 0;
  padding: 0;
  font-family: 'pretendard-regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
}

main {
  display: flex;
  min-height: calc(100vh - 220px);
}

.sidebar {
  width: 180px;
  background-color: #2f4db1;
  color: white;
  padding: 20px 0;
}

.sidebar img {
  height: 130px;
  width: 130px;
  background-color: #ff80ab;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
  color: #ffffff;
}

.sidebar li a {
  padding: 12px 20px;
  cursor: pointer;
  color: #ffffff;
}

  /* ****************** */
  .div_mark {
    background-color: rgb(255, 255, 255);
    flex: 1;
    color: white;
  }

  .div_mark .title {
    font-size: 30px;
    margin: 30px 35px;

  }

  .matching_month {
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    height: 60%;
    border-radius: 30px;
    border: solid 5px black;
  }

  .months {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px black;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
  }

  .matching_month ul li {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

  }

  .matching {
    display: flex;
    margin-top: 15px;
  }

  .matching_day {
    width: 180px;
    text-align: center;
  }

  .matching_member {
    width: 180px;
    text-align: center;
  }

  .matching_time {
    width: 180px;
    text-align: center;
  }

  .matching_point {
    width: 180px;
    text-align: center;
  }

  .check {
    width: 180px;
    text-align: center;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page ul {
    display: flex;
    list-style-type: none;
  }

  .page ul li {
    margin: 10px;
  }

  .div_add {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .div_add button {
    background-color: #2F52AA;
    width: 200px;
    height: 60px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 15px;
  }

  #active {
    color: red;
  }

  .month {
    color: black;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal.open {
    display: flex;
  }


  #matching_add {
    display: none;
    justify-content:center;
  }

  form label{
    text-align: center;
    border: 2px solid black;
    
  }
  .modal_container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .modal_container form label {
    font-size: 20px;
    margin-bottom: 5px;
  }
.modal_container form label input{
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
  .modal_container .modal_button {
    display: flex;
    justify-content: flex-end;
  }

  .modal_container form .input-group {
    display: flex;
  }
  .modal_container form .input-group label {
    flex: 1;
  }

  .modal_container form .input-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .modal_container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    border: 2px solid #000;
    max-width: 400px;
    width: 100%;
    text-align: center;
    justify-content: center;
    top: 0;
  }

  .modal_button{
    margin: 15px;
  }

  .modal_button #success_modal {
    background-color: #2F52AA;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  .modal_button #cansel_modal {
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  #complete_modal {
    display: none;
  }

  #complete_modal .modal_container {
    text-align: center;
  }

  #complete_modal #success_button {
    background-color: #2F52AA;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
