* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  height: 110px;
  background-color: bisque;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
}

.main_sidebar {
  width: 180px;
  height: 100%;
  background-color: rgb(159, 159, 255);
  display: flex;
  flex-direction: column;
}

.main_sidebar div {
  height: 150px;
  width: 150px;
  background-color: rgb(27, 255, 217);
  border-radius: 100%;
  margin: 15px;
}

.main_sidebar ul li {
  padding: 15px;
}

/* ============================= */
.div_mark{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.div_mark .title {
  font-size: 30px;
  margin: 30px;
}
form{
  flex: 1;
  margin: 30px;
}
.arlim{
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
  border-radius: 15px;
  border: 1px solid black;
  height: 100px;
}
.arlim div{
  background-color: blanchedalmond;
  width: 20px;
  height: 20px;
  margin: 20px;
}
.arlim nav{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
form .caremodify{
  display: flex;
  flex-direction: column;
  background-color: beige;
  border: 1px solid black;
}
form .caremodify div{
  display: flex;
  margin: 0px;
  background-color: rgb(255, 172, 46);
  height: 50px;
}

form .caremodify div div{
  margin-right: 50px;
  align-items: center;
  border: 1px solid black;
  width: 50px;
}
form .caremodify div nav ul li{
  list-style-type: none;
}

.name_date{
  display: flex;
  text-align: center;
}

