@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 500; 적용 안됨 */
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration-line: none;
  list-style-type: none;
  color: black;
  font-family: 'Pretendard-Regular';
  /* #FFE7C9 */
  /* #1D3266 */
}
main{
  background-color: #FFE7C9;
  height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
}
.main_body{
  width: 1100px;
  height: 100%;
  background-color: rgba(104, 104, 104, 0.1);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.context{
  /* overflow: hidden; */
  margin-top: 70px;
  /* background-color: orange; */
  width: 1100px;
  height: 600px;
  display: flex;
}
.profile_area{
  /* background-color: pink; */
  width: 550px;
}
.profile{
  /* background-color: red; */
  display: flex;
}
.profile_pic_box{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
}
.profile_pic{
  width: 50%;
  border-radius: 20px;
  margin: 10px;
}
.profile_intro{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #1D3266; */
}
.profile_name{
  background-color: wheat;
  width: max-content;
  font-size: 30px;
  border-radius: 25px;
  padding: 5px 20px;
  border: solid 3px black;
  margin: 20px 10px 0 10px;
}
.profile_day_row{
  /* background-color: crimson; */
  display: flex;
  padding-left: 2px;
  width: max-content;
  /* margin: 5px 0 0 2px; */
  margin: 0 10px;
  margin-top: 10px;
}
.day{
  border: solid 3px #1D3266;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 2px;
  font-size: 16px;
  background-color: wheat;
}
.profile_info{
  margin-top: 15px;
  /* background-color: gray; */
  width: 85%;
  font-size: 16px;
}
.profile_info ul{
  /* background-color: rebeccapurple; */
}
.profile_info ul li{
  padding: 5px 10px;
  /* background-color:crimson; */
}
.profile_short_intro{
  margin-top: 10px;
  /* background-color: yellow; */
  width: 85%;
}
.profile_short_intro div{
  padding: 5px 10px;
  /* background-color: green; */
}
#send_button_box{
  display: flex;
  flex: 1;
  /* background-color: black; */
  justify-content: center;
  align-items: baseline;
}
#send_button{
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  color: white;
  background-color: #1D3266;
}
.comments_area{
  /* background-color: yellowgreen; */
  width: 550px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.comment_pannel{
  /* background-color: #1D3266; */
  width: 100%;
}
.comment_column{
  background-color: rgb(211, 211, 211);
  display: flex;
  height: 30px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  align-items: center;
}
.comment_list{
  /* background-color: yellow; */
}
.comment div{
  display: flex;
  height: 30px;
  border-bottom: solid 1px black;
  align-items: center;
  background-color: white;
  font-size: 12px;
}
.comment_number_column,
.comment_number{
  /* background-color: red; */
  width: 9%;
  text-align: center;
}

.comment_author_column,
.comment_author{
  /* background-color: orange; */
  width: 14%;
  text-align: center;
}
.comment_author_column{
  border-left: solid 1px black;
  border-right: solid 1px black;
}
.comment_context_column,
.comment_context{
  /* background-color: green; */
  flex: 1;
  text-align: center;
}
.comment_context_column{
  border-right: solid 1px black;
}
.comment_context{
  padding-left: 20px;
  text-align: left;
}

.comment_date_column,
.comment_date{
  /* background-color: blue; */
  width: 20%;
  text-align: center;
}

.input_box{
  margin-top: 10px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  border: solid 1px black;
  background-color: white;
}
#comment_text{
  height: 30px;
  margin-left: 10px;
  flex: 1;
}
#comment_button{
  border: solid 1px black;
  height: 20px;
  width: 40px;
  font: 10px;
  margin: 0 10px;
}
#comment_pagenation{
  margin-top: 15px;
  /* background-color: blue; */
  text-align: center;
}