/* 모달창 공통 설정 */
#modal{
  position: absolute;
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(104, 104, 104, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* 안 보여지게 해 둠 */
}
/* 모달 창 */
.modal_window{
  position: absolute;
  background-color: white;
  padding: 17px;
  border-radius: 30px;
}
/* 모달 닫기 박스 */
.modal_x_box{
  height: 25px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: end;
  width: 100%;
}
/* 모달 닫기 버튼 */
.modal_x{
  height: 100%;
  /* background-color:aqua; */
  right: 0;
}
/* 모달 바디 */
.modal_body_confirm{
  /* 여기 width 값으로 모달 창 크기 조정 가능 */
  width: 400px;
  /* background-color: fuchsia; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 모달 내용 */
#modal_text{
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-top: 20px
}
/* 보내는 사람 정보 */
.letter_info{
  /* background-color: yellow; */
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}
/* 쪽지 입력란 */
#letter_text{
  margin-top: 5px;
  width: 380px;
  height: 400px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 0 10px;
}
/* 모달 버튼 박스 */
.modal_button_box{
  margin-top: 10px;
  display: flex;
  width: 100%;
  /* background-color: greenyellow; */
  justify-content: center;
}
/* 확인 버튼 */
.modal_check_button{
  background-color: #1D3266;
  color: white;
  width: 80px;
  height: 38px;
  border-radius: 15px;
  border: solid 1px black;
  margin: 9px;
}
/* 취소 버튼 */
.modal_cancel_button{
  background-color: white;
  color:#1D3266;
  width: 80px;
  height: 38px;
  border-radius: 15px;
  border: solid 1px black;
  margin: 9px;
}
