input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.login {
  /* border: 1px solid black; */
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  /* border: 1px solid black; */
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box_title {
  text-align: center;
  margin: 30px auto;
}

.box_title > p {
  font-size: 30px;
  font-weight: 900;
}

.id_box,
.pw_box {
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.bt_box {
  /* border: 1px solid black; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.bt_box > button {
  background-color: #1d3266;
  color: white;
  border-radius: 30px;
  width: 250px;
  height: 100%;
}