.add_section {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid black; */
  height: 90%;
}

.add_data {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.title,
.name,
.date {
  width: 10%;
  /* border: 1px solid black; */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_content {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.name_content,
.date_content {
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.name,
.date {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.add_content {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 10px;
  height: 80%;
}

.board_title {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

#news {
  width: 100%;
  height: 88%;
  border: 1px solid black;
  resize: none;
}

.add_link {
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  margin-bottom: 10px;
}

.add_link_title {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_input {
  width: 85%;
}

.add_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancle,
.add {
  padding: 5px 10px;
  cursor: pointer;
}
.cancle {
  border: 1px solid red;
  background-color: white;
}

.add {
  background-color: #2f52aa;
  color: white;
}

/* 예시 */

.img {
  background-image: url(./../../assets/img/admin/test.png);
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-size: cover;
}
