main {
  width: 100%;
  /* height: 100%; */
}

.detail_page {
  width: calc(100% - 201px);
  height: 100%;
  position: relative;
  left: 201px;
}

.detail_box {
  width: 90%;
  height: 100%;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.detail_title {
  padding-top: 12px;
}
.detail_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.detail_title {
  width: 100%;
}

.detail_title_text {
  border: 1px solid black;
  width: 90%;
  height: 40px;
  /* padding-left: 1%; */
  padding: 4px 10px;
}

.detail_content {
  width: 91.8%;
  /* border: 1px solid black; */
  /* display: flex; */
  /* align-items: flex-end; */
  /* padding: 4px 10px; */
}

.detail_file {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.file_name {
  width: 700px;
}

#detail {
  border: 1px solid black;
  width: 100%;
  height: 40vh;
  /* 수정할 필요도 있을 수도 있음 */
  resize: none;
}

.btn_area {
  width: 90%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn_area > button {
  padding: 8px 20px;
  border: 2px solid black;
}
.cancle_btn {
  background-color: #d9d9d9;
}

.add_btn {
  background-color: red;
  color: white;
}
