.notice_detail {
  /* border: 1px solid black; */
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.notice_info {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 40%; */
  margin: 20px 0;
}

.info_title {
  width: 100%;
  /* height: 10%; */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 0;
}
.title {
  font-size: 26px;
  margin-left: 10px;
}
.member_info {
  display: flex;
  width: 100%;
  /* height: 10%; */
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
}

.member_name_title,
.member_add_title {
  width: 10%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.member_name,
.member_add_date {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.qna {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
}

.qna_title {
  width: 9.7%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.qna_content {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.notice_content {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
#content {
  margin: 0 auto;
  display: flex;
  width: 90%;
  height: 50%;
  border: 1px solid black;
  resize: none;
}

.notice_btn {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  /* border: 1px solid black; */
}

.list,
.delete {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.delete {
  background-color: #2f52aa;
  color: white;
}

.reply_box {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
  height: 50%;
}
#reply {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  resize: none;
}
