main {
  width: 100%;
  z-index: -1;
}

.searchcontent {
  margin-left: 40px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.userManager {
  width: calc(100% - 201px);
  position: relative;
  left: 201px;
  height: 100%;
}

.title {
  width: 100%;
}

.title > h1 {
  padding: 20px;
}

.searchbox {
  display: flex;
}

.search_column {
  border: 1px solid black;
  width: 150px;
}

.searchbox > input {
  width: 500px;
  height: 30px;
  border: 1px solid black;
}

.searchbox > button {
  width: 50px;
  border: 1px solid black;
}

.board_column {
  width: 90%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  background-color: #d9d9d9;
}

.board_head {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.board_number {
  width: 10%;
  height: 95%;
}
.board_name {
  width: 20%;
  height: 95%;
}
.board_id {
  width: 20%;
  height: 95%;
}
.board_date {
  width: 20%;
  height: 95%;
}

.board_refund_date {
  width: 20%;
  height: 95%;
}

.board_type {
  width: 10%;
  height: 95%;
}

.table_body {
  display: flex;
}

/* 테스트(간격 조절) */
/* .board_head {
  border: 1px solid black;
  } */
/* .table_body > li {
    border: 1px solid black;
  } */

.table_content {
  width: 90%;
}

.body_number {
  width: 10%;
  height: 30px;
}

.body_refund_date{
   width: 20%;
  height: 30px;
}
.body_type {
  width: 10%;
  height: 30px;
}

.body_name {
  width: 20%;
  height: 30px;
}
.body_id {
  width: 20%;
  height: 30px;
}
.body_date {
  width: 20%;
  height: 30px;
}

.table_body > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.paging_box {
  width: 70%;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.paging {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
