.care_box {
  width: calc(100% - 201px);
  position: relative;
  left: 201px;
  height: 100%;
}

.box_title {
  padding: 20px;
}

.table_form {
  width: 70%;
  height: 80%;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.table {
  display: flex;
}

.thead {
  width: 15%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.thead_content {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.tbody {
  width: 60%;
  height: 90%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.tbody_content {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-left: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #d9d9d9; */
  justify-content: space-around;
}

.download {
  background-color: #d7d7d7;
  padding: 5px 20px;
  border: 1px solid black;
}

.btn_area {
  width: 75%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 60px;
  align-items: flex-end;
}

.cancle,
.submit {
  padding: 10px 30px;
  border: 1px solid black;
}

.submit {
  color: white;
  background-color: #2f52aa;
}
