main {
  width: 100%;
  z-index: -1;
}

.searchcontent {
  margin-left: 40px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
}

.userManager {
  width: calc(100% - 201px);
  position: relative;
  left: 201px;
  height: 100%;
}

.title {
  width: 100%;
}

.title > h1 {
  padding: 20px;
}

.searchbox {
  display: flex;
}

.search_column {
  border: 1px solid black;
}

.searchbox > input {
  width: 500px;
  height: 30px;
  border: 1px solid black;
}

.searchbox > button {
  width: 50px;
  border: 1px solid black;
}

.board_column {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  background-color: #d9d9d9;
}

.board_head {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.board_number {
  width: 15%;
  height: 95%;
}
.board_title {
  width: 35%;
  height: 95%;
}

.board_cnt {
  width: 15%;
  height: 95%;
}
.board_date {
  width: 35%;
  height: 95%;
}

.table_body {
  display: flex;
}

.table {
  width: 100%;
}
/* 테스트(간격 조절) */
/* .board_head {
  border: 1px solid black;
  } */
/* .table_body > li {
    border: 1px solid black;
  } */

.body_number {
  width: 15%;
  height: 30px;;
  /* border: 1px solid black; */
}
.body_content {
  width:35%;
  height: 30px;
  /* border: 1px solid black; */
}



.body_cnt {
  width: 15%;
  height: 30px;
  /* border: 1px solid black; */
}
.body_date {
  width: 35%;
  height: 30px;
  /* border: 1px solid black; */
}

.delete_btn {
  background-color: red;
  color: white;
  padding: 4px 10px;
}
.table_body {
  width: 100%;
}

.table_body > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.paging_box {
  width: 70%;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paging {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.add_btn {
  background-color: #2f52aa;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
}
