#sidebar {
  border-right: 1px solid black;
  width: 200px;
  height: calc(100vh - 220px);
  position: absolute;
  background-color: #d9d9d9;
}

.blank {
  width: 100%;
  height: 30px;
}

.sidebar>ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  background-color: #d9d9d9;
}

.sidebar>ul>a>li,
.sidebar>ul>div>li {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul>.side_attach:hover {
  background-color: #2f52aa;
  opacity: 0.5;
}

ul>div>.side_attach:hover {
  background-color: #2f52aa;
  opacity: 0.5;
}

.sidebar>ul>.board>ul {
  display: none;
}

.sidebar>ul>.board {
  position: relative;
}

.sidebar>ul>.board:hover>ul {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 140%;
  background-color: white;
}

.sidebar>ul>.board:hover>ul>a {
  width: 100%;
  height: 100%;
}

.sidebar>ul>.board:hover>ul>li>a {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_menu {
  border: 1px solid black;
}


.side_attach {

  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}