@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 500; 적용 안됨 */
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration-line: none;
  list-style-type: none;
  color: black;
  font-family: 'Pretendard-Regular';
  /* #FFE7C9 */
  /* #1D3266 */
}
#site-footer{
  width: 100%;
  height: 110px;
  background-color: #FFF8EF;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
  min-width: 600px;
}
.footerDiv{
  display: flex;
  width: 1500px;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  position: absolute;
}
#site-footer div ul{
  display: flex;
  justify-content: center;
}
#site-footer div span{
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
#site-footer div ul li p{
  font-size: 16px;
  /* background-color: green; */
  margin: 0 15px;
} 
