@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 500; 적용 안됨 */
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration-line: none;
  list-style-type: none;
  color: black;
  font-family: 'Pretendard-Regular';
  /* #FFE7C9 */
  /* #1D3266 */
}
body{
  background-color: #FFE7C9;
}
main{
  background-color: #FFE7C9;
  /* height: calc(100vh - 220px); */
  display: flex;
  justify-content: center;
  min-width: 600px;
}
.main_body{
  background-color: #FFE7C9;
  width: 1200px;
  height: 100%;
  /* background-color: aqua; */
}
.news_banner{
  /* 이게 .slides-wrap임. */
  margin-top: 35px;
  width: 100%;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 0 10px;


  /* 슬라이드 박스로 설정하기 위한 요소 */
  overflow: hidden;
  position: relative;
}
.news_banner .slide-box{
  display: flex;
  height: 300px;
  left: 0;
  position: absolute;
}
.slide-box li:first-child > .slide-img{
  /* background-color: lightblue; */
}
.slide-box li:nth-child(2) > .slide-img{
  /* background-color: rgb(238, 144, 180); */
}
.slide-box li:nth-child(3) > .slide-img{
  /* background-color: rgb(132, 130, 243); */
}
.slide-box li:nth-child(4) > .slide-img{
  /* background-color: rgb(224, 238, 144); */
}
.slide-box li:nth-child(5) > .slide-img{
  /* background-color: lightgreen; */
}
.slide-box li:last-child > .slide-img{
  /* background-color: lightcoral; */
}
.slide-img{
  width: 1200px;
  height: 300px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.banner_img{
  position: absolute;
  width: 100%;
}
.slide-img a{
  position: absolute;
  cursor: pointer;
  width: 600px;
  bottom:5%;
  left: 5%;
  /* background-color: #1D3266; */
  background-color: #F0F0F0;
  /* opacity: 0.9; */
  padding: 20px;
  border-radius: 10px;
}
.slide-img a:hover{
  color: yellow;
  box-shadow: 0 0 10px;
  
}
.recommend{
  margin-top: 50px;
  height: 250px;
  display: flex;
}
.recommend_activity {
  margin-right: 10px;
  background-color: #F0F0F0;
  /* border: solid 3px #1D3266; */
  border-radius: 20px;
  flex: 1;
  box-shadow: 0 0 7px;
}
.recommend_board{
  margin-left: 10px;
  background-color: #F0F0F0;
  /* border: solid 3px #1D3266; */
  border-radius: 20px;
  flex: 1;
  box-shadow: 0 0 7px;
}
.recommend_title{
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
.recommend_activiies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  align-items:center;
  margin-bottom: 30px;
}
.recommend_activiies li{
  margin-top: 20px;
}
.recommend_activity a{
  color: black;
}
.board_list{
  margin-bottom: 30px;
}
.board_list li{
  flex: 1;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.board_list li a{
  display: flex;
}
.board_list_number{
  width: 60px;
  text-align: center;
}
.board_list_title{
  flex: 1;
}
.board_list_author{
  width: 100px;
  text-align: center;
}
.board_list_date{
  width: 130px;
  text-align: center;
}
.explore{
  margin: 50px 0;
  height: 550px;
  display: flex;
}
.explore_map{
  margin-right: 10px;
  height: 100%;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  /* border: #1D3266 4px solid; */
  box-shadow: 0 0 7px;
}
.map_img{
  height: 100%;
}
.explore_care{
  margin-left: 10px;
  height: 100%;
  width: 300px;
  background-color: #F0F0F0;
  /* border: solid 3px #1D3266; */
  border-radius: 20px;
  box-shadow: 0 0 5px;
}
.profile_list{
  /* background-color: mediumaquamarine; */
}
.profile{
  /* background-color: blue; */
  border-radius: 20px;
  margin: 4px 7px;
  box-shadow: 0 0 2px;
  padding: 10px;
}
.care_profile{
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}
.profile_info{
  display: flex;
}
.profile_pic_box{
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px;
}
.profile_pic{
  width: 80px;
}
.day_box{
  display: flex;
  padding-left: 2px;
  width: max-content;
  /* margin: 5px 0 0 2px; */
  margin-top: 7px;
  /* background-color: black; */
}
.day{
  border: solid 3px #1D3266;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 7px;
}
.profile_text{
  left: 40%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 10px;
}
.profile_name{
  background-color: wheat;
  width: max-content;
  font-size: 16px;
  border-radius: 15px;
  padding: 5px 13px;
  border: solid 2px black;
}
.profile_introduction{
  width:100%;
  padding-top: 7px;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  text-align: center;
} 