/* 모달창 공통 설정 */
#modal{
  position: absolute;
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(104, 104, 104, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 모달창 바탕 */
.modal_window{
  position: absolute;
  background-color: white;
  padding: 17px;
  border-radius: 30px;
}
/* x 아이콘 이미지 박스 */
.modal_x_box{
  height: 25px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: end;
  width: 100%;
}
/* x 아이콘 */
.modal_x{
  height: 100%;
  /* background-color:aqua; */
  right: 0;
}
/* 모달 바디 */
.modal_body_confirm{
  /* 여기 width 값으로 모달 창 크기 조정 가능 */
  width: 400px;
  /* background-color: fuchsia; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 모달 내용(뉴스 삭제 완료 모달에서 사용되는 요소) */
#modal_text{
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-top: 20px
}
/* 모달 내용 */
.modal_text{
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-top: 20px
}
/* 모달 버튼 영역 */
.modal_button_box{
  margin-top: 20px;
  display: flex;
  width: 100%;
  /* background-color: greenyellow; */
  justify-content: center;
}
/* 모달 확인 버튼 */
.modal_check_button{
  background-color: #1D3266;
  color: white;
  width: 80px;
  height: 38px;
  border-radius: 15px;
  border: solid 1px black;
  margin: 9px;
}
/* 모달 취소 버튼 */
.modal_cancel_button{
  background-color: white;
  color:#1D3266;
  width: 80px;
  height: 38px;
  border-radius: 15px;
  border: solid 1px black;
  margin: 9px;
}
/* 이름 수정 모달창 설정 */
#new_name{
  margin-top: 20px;
  width: 200px;
  height: 20px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 0 10px;
}
/* 포인트 내역 확인 모달창 설정 */
.log_window{
  margin-top: 20px;
  width: 400px;
  height: 500px;
  border: solid 2px #1D3266;
  border-radius: 15px;
}
/* 월 */
.select_month{
  margin : 20px 0 20px 0;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
}
/* 이전 월 버튼, 다음 월 버튼 */
#previous_month, #next_month{
  text-align:center;
  /* background-color: pink; */
  flex: 1;
}
/* 년, 월 */
#point_year, #point_month{
  margin: 0 2px;
  /* background-color: aliceblue; */
}
/* 내역창 */
#point_log_list{
  /* background-color: burlywood; */
}
/* 내역 */
.point_log{
  margin: 4px 30px;
  /* background-color: skyblue; */
  border-bottom: solid 2px black;
  padding: 5px 0;
}
/* 돌봄회원 가입/정보수정 신청 반려 */
#reason_reject{
  margin-top: 20px;
  width: 350px;
  height: 60px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 0 10px;
}
/* 신고게시물 삭제사유 */
#reason_delete_post{
  margin-top: 20px;
  width: 350px;
  height: 25px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 0 10px;
}